<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Recuperar contraseña</title>
</head>

<body style="
margin:0;
padding:0;
background:#f4f8fc;
font-family:Arial, Helvetica, sans-serif;
">

<table width="100%">
<tr>
<td align="center"
style="
background:#0B2545;
padding:20px;
">

<img
src="https://tu-dominio.com/logo.png"
width="120">

</td>
</tr>

<tr>
<td align="center">

<table width="600"
style="
background:#ffffff;
margin-top:30px;
border-radius:12px;
overflow:hidden;
box-shadow:0 4px 12px rgba(0,0,0,.08);
">

<tr>
<td style="
background:#1565c0;
padding:30px;
text-align:center;
color:white;
">
<h1 style="margin:0;">
HelpDesk UAS
</h1>
</td>
</tr>

<tr>
<td style="padding:40px;">

<h2 style="color:#1565c0;">
Hola {{ user.first_name }}
</h2>

<p style="
font-size:16px;
line-height:1.6;
color:#555;
">
Recibimos una solicitud para restablecer tu contraseña.
</p>

<p style="
font-size:16px;
line-height:1.6;
color:#555;
">
Haz clic en el botón para continuar.
</p>

<div style="text-align:center;margin:40px 0;">
<a
href="{{ reset_url }}"
style="
background:#1976d2;
color:white;
padding:15px 30px;
border-radius:8px;
text-decoration:none;
font-weight:bold;
">
Restablecer Contraseña
</a>
</div>

<p style="
font-size:14px;
color:#777;
">
Si no solicitaste este cambio puedes ignorar este mensaje.
</p>

<p style="
font-size:14px;
color:#1565c0;
word-break:break-all;
">
{{ reset_url }}
</p>

</td>
</tr>

<tr>
<td style="
background:#e3f2fd;
padding:20px;
text-align:center;
font-size:12px;
color:#666;
">
Sistema HelpDesk UAS
</td>
</tr>

<tr>
<td style="
padding:20px;
font-size:12px;
color:#666;
text-align:center;
">

Universidad Autónoma de Sinaloa<br>

Sistema HelpDesk

</td>
</tr>
</table>

</td>
</tr>
</table>

</body>
</html>